<template name="leftPane">

  <div class="wrapper-left-pane">

  <div class="head">
    <span class="head-header">Topics today</span>
  </div>
  <div class="topic">Some topic heading</div>
  <div class="topic">Some topic headingheading</div>
  <div class="topic">Some topic heading</div>
  <div class="topic">Some topic </div>
  <div class="topic">Some topic heading</div>
  <div class="topic">Some tc heading</div>
  <div class="topic">Some topic heading</div>
  <div class="topic">Some ting</div>
  <div class="topic">Some topic heading</div>
  <div class="topic">Someheadingheadingheadingheading topicddddheading</div>
  <div class="topic">Some topic headingheadingheading</div>
  <div class="topic">Some topic heading</div>

  </div>

</template>