<template name="rightPane">
  <div class="wrapper-right-pane">


  <div class="bigTitle">
    <h1>Example Title</h1>
  </div>

    <div class="userEntries">


    <div class="userEntry">
    <div class="entryNumber">1</div>
    <div class="entryText">Some long text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text Some long text Some long text Some long text Some long text Some long text Some long text</div>
    <div class="userDetails">
      <div class="userName">exampleuser</div>
    <div class="entryDate">24.04.2015 13:49 </div>
    </div>
  </div>
  <div class="userEntry">
    <div class="entryNumber">1</div>
    <div class="entryText">Some long text Some long text Some long text Some long text Some long text Some long text Some long text Some long text</div>
    <div class="userDetails">

    <div class="userName">exampleuser</div>
    <div class="entryDate">24.04.2015 13:49 </div>
      </div>
  </div>
  <div class="userEntry">
    <div class="entryNumber">1</div>
    <div class="entryText">Some long text Some long text Some long text Some long text Some long text Some long text Some long t text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long textext Some long text</div>
    <div class="userDetails">

    <div class="userName">exampleuser</div>
    <div class="entryDate">24.04.2015 13:49 </div>
  </div>
  </div>

      <div class="userEntry">
    <div class="entryNumber">1</div>
    <div class="entryText">Some long text Some long text Som text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long text text Some long texte long text Some long text Some long text Some long text Some long text Some long text</div>
    <div class="userDetails">

    <div class="userName">exampleuser</div>
    <div class="entryDate">24.04.2015 13:49 </div>
  </div>
      </div>


    </div>

  </div>
</template>