<template name="homeIndex">

  <div class="container-custom">
<div class="row">
  <!-- Left Pane -->
  <div class="col-lg-3">
    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.
    {{message}}
  </div>

  <!-- Right Pane -->
  <div class="col-lg-9">
    Some stuff there.    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.
    Some stuff here.

  </div>
</div>

  </div>
</template>